@font-face {
  font-family: "ArnoPro";
  src: url("../fonts/arnopro_bold.otf");
}
@font-face {
  font-family: "ArnoProSmText";
  src: url("../fonts/ArnoPro-SmText.otf");
}

:root {
  --main-bg-color: #e6ee9c;
  --add-color: #d4e157;
  --add-hover-color: #9e9d24;
  --main-bg-gradient: linear-gradient(149deg, rgba(212,225,87,1) 0%, rgba(230,238,156,1) 35%, rgba(240,244,195,1) 100%);
}

body {
  background: var(--main-bg-gradient);
  font-family: "ArnoProSmText";
  font-size: 18px;
  min-height: 100vh;
}
a {
  color: #111111;
}
.btn-header {
  background-color: var(--add-color);
  color: #111111;
  font-size: 1.1em;
}
.btn-header:hover {
  background-color: var(--add-hover-color);
}
.section-title {
  font-family: "ArnoPro";
  text-align: center;
}
.list-group-item {
  background-color: var(--add-color);
}
.header-phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6vh;
}
.header-phone p {
  margin-bottom: 0;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}
.header-main-wrap {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 1em;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
}
.logo img {
  width: 100%;
}
.header-title {
  display: flex;
  flex-direction: column;
}
.nav-link {
  color: #111111;
}
.nav-pills .nav-link.active {
  background-color: var(--add-color);
  color: #111111;
}
.main-nav {
  display: flex;
  justify-content: space-between;
}
.main-nav-item {
  padding: 2em;
}
.service-list {
  max-width: 500px;
}
.service-list-item {
  display: flex;
  justify-content: space-between;
}

.specialists-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.specialists-text {
  flex-direction: column;
}

.specialists img {
  max-height: 500px;
}
.equipment-img img {
    max-height: 500px;
}
.equipment-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-body {
  background-color: var(--add-color);
}
.text-center-p {
  max-width: 700px;
  margin: 0 auto;
}
/* .modal-header {
  background-color: var(--main-bg-color);
}
.modal-footer {
  background-color: var(--main-bg-color);
}
.modal-body {
  background-color: var(--main-bg-color);
} */
.service {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-img {
  width: 100%;
}
.sale-item-img {
  width: 80px;
}
.sale-item {
  display: flex;
  align-items: center;
}
.sale-item-text {
  display: flex;
  line-height: 100%;
}
.accordion-button {
  background-color: var(--add-color);
}
.accordion-button:focus {
  background-color: var(--add-color);
}
.accordion-button:not(.collapsed) {
  background-color: var(--add-color);
  color: #111111;
}
.accordion-item {
  background-color: var(--main-bg-color);
  border: 1px solid gray;
}